<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="book-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">学生姓名</th>
                        <th class="text-center">联系方式</th>
                        <th class="text-center">人数</th>
                        <th class="text-center">预定时间</th>
                        <th class="text-center">服务名称</th>
                        <th class="text-center">服务时间</th>
                        <th class="text-center">服务地点</th>
                        <th class="text-center">备注</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>