<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="book-table" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">学号</th>
                    <th class="text-center">姓名</th>
                    <th class="text-center">物品编号</th>
                    <th class="text-center">物品名称</th>
                    <th class="text-center">物品尺寸</th>
                    <th class="text-center">选择时间</th>
                    <th class="text-center">备注</th>
                </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>