<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="dorm-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">宿舍名称</th>
                        <th class="text-center">所在楼层</th>
                        <th class="text-center">所属宿舍楼</th>
                        <th class="text-center">宿舍人数</th>
                        <th class="text-center">已选人数</th>
                        <th class="text-center">学生姓名</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>
