<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="goods-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">学生学号</th>
                        <th class="text-center">学生姓名</th>
                        <th class="text-center">物品编号</th>
                        <th class="text-center">物品名称</th>
                        <th class="text-center">物品尺寸</th>
                        <th class="text-center">选择时间</th>
                        <th class="text-center">备注</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 15; i++)
                    {
                        <tr class="text-center">
                            @{
                                int num = 20171011 + i;
                            }
                            <td>@num</td>
                            <td>张三</td>
                            <td>男</td>
                            <td>计算机与软件工程系</td>
                            <td>网络工程</td>
                            <td>网络 1701</td>
                            <td>已完成</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
