
@{
    ViewData["Title"] = "报名数据";
    ViewData["NavTitle"] = "数据统计分析";
    ViewData["CurrName"] = "服务预定分析";
}

<section class="content-header">
    <h1>
        服务预定
        <small>Book Data</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li>数据统计</li>
        <li class="active">服务预定</li>
    </ol>
</section>

