@model PSU.Model.Areas.Administrator.Statistics.BookDetailViewModel
@{
    Layout = null;
    ViewData["Title"] = "报名数据";
    ViewData["NavTitle"] = "数据统计分析";
    ViewData["CurrName"] = "服务预定分析";
}

<div class="row">
    <div class="col-md-12">
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> 学生姓名 </div>
                <div class="profile-info-value">
                    <div class="col-md-12">
                        <span class="editable editable-click">1111111111</span>
                    </div>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> 联系电话 </div>
                <div class="profile-info-value">
                    <div class="col-md-12">
                        <span class="editable editable-click">1111111111</span>
                    </div>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> 服务名称 </div>
                <div class="profile-info-value">
                    <div class="col-md-12">
                        <span class="editable editable-click">放到沙发上地方的时候说的话</span>
                    </div>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> 预定时间 </div>
                <div class="profile-info-value">
                    <div class="col-md-12">
                        <span class="editable editable-click">2018-12-21 12:32</span>
                    </div>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> 服务时间 </div>
                <div class="profile-info-value">
                    <div class="col-md-12">
                        <span class="editable editable-click">2018-12-21 12:32</span>
                    </div>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> 服务地点 </div>
                <div class="profile-info-value">
                    <div class="col-md-12">
                        <span class="editable editable-click">火车站啊啊啊</span>
                    </div>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> 是否取消 </div>
                <div class="profile-info-value">
                    <div class="col-md-12">
                        <input type="radio" class="iradio_flat-green" name="gender" checked disabled>否
                        <input type="radio" class="iradio_flat-green" name="gender" disabled> 是
                    </div>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> 备注 </div>
                <div class="profile-info-value">
                    <div class="col-md-12">
                        <span class="editable editable-click">火车站啊啊啊</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

