
@{
    ViewData["Title"] = "登录数据";
    ViewData["NavTitle"] = "数据统计分析";
    ViewData["CurrName"] = "用户登录统计";
}

<section class="content-header">
    <h1>
        登录数据
        <small>Log In Data</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li>数据统计</li>
        <li class="active">登录数据</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <section class="col-lg-7 connectedSortable">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li class="pull-left header"><i class="fa fa-line-chart"></i> 最近七日登录人数 </li>
                </ul>
                <div class="tab-content no-padding">
                    <div class="chart tab-pane active" id="register-line-chart" style="position: relative; height: 300px;"></div>
                </div>
            </div>
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li class="pull-left header"><i class="fa fa-bar-chart"></i> 用户登录地点分布 </li>
                </ul>
                <div class="tab-content no-padding">
                    <div class="chart tab-pane active" id="most-bar-chart" style="position: relative; height: 300px;"></div>
                </div>
            </div>
        </section>
        <section class="col-lg-5 connectedSortable">
            <div class="box box-solid">
                <div class="box-header">
                    <i class="fa fa-dashboard"></i>
                    <h3 class="box-title">
                        登录时间分布
                    </h3>
                </div>
                <div class="box-body">  
                    <div id="dash-board" style="height: 276px; width: 100%;"></div>
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-header">
                    <i class="fa fa-edge"></i>
                    <h3 class="box-title">
                        用户浏览器版本
                    </h3>
                </div>
                <div class="box-body">
                    <div id="browser-pie" style="height: 277px; width: 100%;"></div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scripts{
    <environment include="Development">
        <script src="~/javascript/template/echarts.common.min.js"></script>
        <script src="~/javascript/template/macarons.js"></script>
        <script src="~/javascript/view/Administrator/login.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/javascript/view/Administrator/login.min.js" asp-append-version="true"></script>
    </environment>
}