
@{
    ViewData["Title"] = "登录数据";
    ViewData["NavTitle"] = "数据统计分析";
    ViewData["CurrName"] = "用户登录统计";
}

<section class="content-header">
    <h1>
        登录数据
        <small>Log In Data</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li>数据统计</li>
        <li class="active">登录数据</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-3">
                <label class="control-label no-padding-right col-md-5 col-xs-4" for="datetime">用户账户：</label>
                <div class="input-group col-md-7 col-xs-8">
                    <input id="name" type="text" class="form-control">
                    <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label no-padding-right col-md-5 col-xs-4" for="name">登录IP：</label>
                <div class="input-group col-md-7 col-xs-8">
                    <input id="name" type="text" class="form-control">
                    <div class="input-group-addon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label no-padding-right col-md-5 col-xs-4" for="datetime">登录日期：</label>
                <div class="input-group col-md-7 col-xs-8">
                    <input id="datetime" class="form-control date-picker" type="text" readonly />
                    <span class="input-group-addon">
                        <i class="fa fa-calendar bigger-110"></i>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3">
                <button id="search" class="btn btn-dropbox btn-flat col-md-4">
                    <i class="fa fa-search"></i>&nbsp;搜索
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        @await Html.PartialAsync("_LoginTablePartial")
    </div>
</section>

@section scripts{
    <environment include="Development">
        <script src="~/javascript/view/Administrator/login.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/javascript/view/Administrator/login.min.js" asp-append-version="true"></script>
    </environment>
}