<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="bunk-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">编号</th>
                        <th class="text-center">宿舍类型名称</th>
                        <th class="text-center">可容纳人数</th>
                        <th class="text-center">寝室朝向</th>
                        <th class="text-center">示意图</th>
                        <th class="text-center">是否启用</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>
