<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="information-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">编号</th>
                        <th class="text-center">宿舍号</th>
                        <th class="text-center">所属宿舍楼</th>
                        <th class="text-center">所在楼层</th>
                        <th class="text-center">宿舍类型</th>
                        <th class="text-center">容纳人数</th>
                        <th class="text-center">已选择人数</th>
                        <th class="text-center">是否启用</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>
