<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="bulletin-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">编号</th>
                        <th class="text-center">宿舍名称</th>
                        <th class="text-center">所属宿舍楼</th>
                        <th class="text-center">所在楼层</th>
                        <th class="text-center">宿舍类型</th>
                        <th class="text-center">容纳人数</th>
                        <th class="text-center">已选择人数</th>
                        <th class="text-center">是否启用</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i < 16; i++)
                    {
                        <tr class="text-center">
                            @{
                                int num = 20171011 + i;
                            }
                            <td>@num</td>
                            <td>我是宿舍名</td>
                            <td>我是宿舍楼名</td>
                            <td>@i 层</td>
                            <td>四人间</td>
                            <td>4人</td>
                            <td>3人</td>
                            <td>启用</td>
                            <td>
                                <a asp-area="" asp-controller="" asp-action="" class="btn btn-xs btn-link">
                                    <i class="fa fa-pencil"></i>
                                    编辑
                                </a>
                                <a class="btn btn-xs btn-link" id="delete">
                                    <i class="fa fa-trash-o"></i>
                                    删除
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
