
@{
    ViewData["Title"] = "宿舍类型";
    ViewData["NavTitle"] = "宿舍信息管理";
    ViewData["CurrName"] = "宿舍类型维护";
}

<section class="content-header">
    <h1>
        宿舍类型
        <small>Dormitory Type</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li>宿舍信息</li>
        <li class="active">宿舍类型</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-3">
                <label class="control-label no-padding-right col-md-5 col-xs-4" for="name">类型名称：</label>
                <div class="input-group col-md-7 col-xs-8">
                    <input id="name" type="text" class="form-control">
                    <div class="input-group-addon">
                        <i class="fa fa-bed"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label no-padding-right col-md-5 col-xs-4" for="direction">寝室朝向：</label>
                <div class="input-group col-md-7 col-xs-8">
                    <select id="direction" name="" class="form-control">
                        <option value="">请选择</option>
                        <option value="East">面朝东</option>
                        <option value="West">面朝西</option>
                        <option value="South">面朝南</option>
                        <option value="North">面朝北</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label no-padding-right col-md-5 col-xs-4" for="enable">是否启用：</label>
                <div class="input-group col-md-7 col-xs-8">
                    <select id="enable" class="form-control">
                        <option value="-1">请选择</option>
                        <option value="1">启用</option>
                        <option value="0">未启用</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-3">
                <button id="search" class="btn btn-dropbox btn-flat col-md-4">
                    <i class="fa fa-search"></i>&nbsp;搜索
                </button>
                <a id="add" class="btn btn-success btn-flat col-md-4 col-xs-offset-1 col-md-offset-1">
                    <i class="fa fa-plus"></i>&nbsp;新建
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        @await Html.PartialAsync("_BunkTablePartial")
    </div>
</section>

@section scripts{
    <environment include="Development">
        <script src="~/javascript/view/Administrator/bunk.js"></script>
        <script src="~/javascript/template/ajaxupload.js"></script>
        <script src="~/javascript/view/Administrator/editbunk.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/javascript/view/Administrator/bunk.min.js" asp-append-version="true"></script>
        <script src="~/javascript/view/Administrator/editbunk.min.js" asp-append-version="true"></script>
    </environment>
}