
@{
    ViewData["Title"] = "宿舍楼信息";
    ViewData["NavTitle"] = "宿舍信息管理";
    ViewData["CurrName"] = "宿舍楼信息维护";
}

<section class="content-header">
    <h1>
        宿舍楼信息
        <small>Building Information</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li>宿舍信息</li>
        <li class="active">
            <a asp-area="Administrator" asp-controller="Dormitory" asp-action="Building">
                宿舍楼信息
            </a>
        </li>
        <li class="active">编辑</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <section class="col-lg-7 connectedSortable">
            <form asp-area="Administrator" asp-controller="School" asp-action="EditMajorClass" method="post" class="form-horizontal" role="form">
                <div class="box">
                    <div class="box box-body">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 control-label no-padding-right" for="name"> 宿舍楼名称： </label>
                            <div class="col-md-5 col-xs-9">
                                <input class="col-md-5 col-xs-12 form-control" id="name" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 control-label no-padding-right" for="campus"> 所属校区： </label>
                            <div class="col-md-5 col-xs-9">
                                <select id="campus" name="" class="form-control">
                                    <option value="">请选择</option>
                                    <option value="">我是新校区名称啊</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label no-padding-right" for="floor">总楼层：</label>
                            <div class="col-md-5">
                                <select id="floor" name="" class="form-control">
                                    <option value="">请选择</option>
                                    <option value="">6层</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label no-padding-right" for="type">宿舍楼类型：</label>
                            <div class="col-md-5">
                                <select id="type" name="" class="form-control">
                                    <option value="">请选择</option>
                                    <option value="">男生寝室</option>
                                    <option value="">女生寝室</option>
                                    <option value="">混合寝室</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 control-label no-padding-right" for="state"> 是否启用： </label>
                            <div class="col-md-5 col-xs-9">
                                <select id="state" class="form-control">
                                    <option value="">启用</option>
                                    <option value="">不启用</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="text-right">
                            <button class="btn btn-success col-md-offset-2" type="submit">
                                <i class="ace-icon fa fa-check"></i>
                                保存
                            </button>
                            &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo"></i>
                                重置
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section class="col-md-5 connectedSortable">
            <div class="box box-default">
                <div class="box-body box-profile">

                    <p class="text-muted text-center">我是新校区名称啊</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>联系电话</b> <a class="pull-right">13912345678</a>
                        </li>
                        <li class="list-group-item">
                            <b>邮编</b> <a class="pull-right">224400</a>
                        </li>
                        <li class="list-group-item">
                            <b>所在地</b> <a class="pull-right">安徽省芜湖市弋江区</a>
                        </li>
                        <li class="list-group-item">
                            <b>详细地址</b> <a class="pull-right">我是新校区的详细地址啊我是新校区的详细地址啊我是新校区的详细地址啊我是新校区的详细地址啊</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>

@section scripts{
    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>
}