@model PSU.Model.Areas.Administrator.Dormitory.InformationEditViewModel
@using PSU.Model.Areas
@{
    Layout = null;
    ViewData["Title"] = "寝室信息";
    ViewData["NavTitle"] = "宿舍信息管理";
    ViewData["CurrName"] = "寝室信息维护";
}

<div class="row">
    <div class="col-md-12">
        <form method="post" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-md-2 col-xs-3 control-label no-padding-right" for="name"> 宿舍号 </label>
                <div class="col-md-4 col-xs-9">
                    <input class="col-md-5 col-xs-12 form-control" id="name" type="text" placeholder="">
                </div>
                <label class="col-md-2 col-xs-3 control-label no-padding-right" for="campus"> 所属宿舍楼 </label>
                <div class="col-md-4 col-xs-9">
                    <select id="campus" name="" class="form-control">
                        <option value="">请选择</option>
                        <option value="">我是宿舍楼1</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label no-padding-right" for="floor"> 所在楼层 </label>
                <div class="col-md-2">
                    <input class="form-control" id="floor" type="number" min="1">
                </div>
                <label class="control-label" for="floor">层</label>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label no-padding-right" for="type"> 宿舍类型 </label>
                <div class="col-md-4">
                    <select id="type" name="" class="form-control">
                        <option value="">请选择</option>
                        <option value="">四人间</option>
                        <option value="">六人间</option>
                        <option value="">八人间</option>
                        <option value="">套房</option>
                    </select>
                </div>
                <label class="col-md-2 control-label no-padding-right" for="count"> 可容纳人数 </label>
                <div class="col-md-2">
                    <input class="form-control" id="count" type="number">
                </div>
                <label class="control-label" for="floor">人</label>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-xs-3 control-label no-padding-right" for="enable"> 是否启用 </label>
                <div class="col-md-4 col-xs-9">
                    <select id="enable" asp-items="@Html.GetEnumSelectList(typeof(EnumType.Enable))" class="form-control" asp-for="IsEnabled"></select>
                </div>
            </div>
            <div class="text-right">
                <a class="btn btn-success col-md-offset-2" id="save" data-id="@Model.Id">
                    <i class="fa fa-check"></i>
                    保存
                </a>
                &nbsp; &nbsp;
                <a class="btn btn-default" asp-area="Administrator" asp-controller="Dormitory" asp-action="Information">
                    <i class="fa fa-undo"></i>
                    返回
                </a>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <environment include="Development">
        <script src="~/javascript/view/Administrator/editinformation.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/javascript/view/Administrator/editinformation.min.js" asp-append-version="true"></script>
    </environment>
}