@model PSU.Model.Areas.Administrator.Dormitory.BuildingEditViewModel
@{
    ViewData["Title"] = "宿舍楼信息";
    ViewData["NavTitle"] = "宿舍信息管理";
    ViewData["CurrName"] = "基础信息维护";
}

<section class="content-header">
    <h1>
        基础信息维护
        <small>Building Information</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li>宿舍信息</li>
        <li class="active">
            <a asp-area="Administrator" asp-controller="Dormitory" asp-action="Building">
                基础信息
            </a>
        </li>
        <li class="active">编辑</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form method="post" class="form-horizontal" role="form">
                <div class="box">
                    <div class="box box-body">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 control-label no-padding-right" for="name"> 宿舍楼名称： </label>
                            <div class="col-md-5 col-xs-9">
                                <input class="col-md-5 col-xs-12 form-control" id="name" type="text" placeholder="" asp-for="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label no-padding-right" for="floor">总楼层：</label>
                            <div class="col-md-5">
                                <select id="floor" name="" class="form-control">
                                    <option value="">请选择</option>
                                    <option value="">6层</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label no-padding-right" for="type">宿舍楼类型：</label>
                            <div class="col-md-5">
                                <select id="type" name="" class="form-control">
                                    <option value="">请选择</option>
                                    <option value="">男生寝室</option>
                                    <option value="">女生寝室</option>
                                    <option value="">混合寝室</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 control-label no-padding-right" for="state"> 是否启用： </label>
                            <div class="col-md-5 col-xs-9">
                                <select id="state" class="form-control">
                                    <option value="">启用</option>
                                    <option value="">不启用</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="text-right">
                            <a class="btn btn-success col-md-offset-2" id="save" data-id="@Model.Id">
                                <i class="fa fa-check"></i>
                                保存
                            </a>
                            &nbsp; &nbsp;
                            <a class="btn btn-default" asp-area="Administrator" asp-controller="Dormitory" asp-action="Building">
                                <i class="fa fa-undo"></i>
                                返回
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section scripts{
    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>
}