
@{
    ViewData["Title"] = "我的首页";
    ViewData["NavTitle"] = "数据全局概览";
    ViewData["CurrName"] = "";
}

<section class="content-header">
    <h1>
        数据中心
        <small>Data Center</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li class="active">数据中心</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>0</h3>

                    <p>今日报名人数</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-people-outline"></i>
                </div>
                <a href="javascript:void(0)" class="small-box-footer">More info <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-teal">
                <div class="inner">
                    <h3>44</h3>

                    <p>昨日报名人数</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="javascript:void(0)" class="small-box-footer">More info <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>10</h3>

                    <p>昨日留言个数</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="javascript:void(0)" class="small-box-footer">More info <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>

                    <p>完成报名比例</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="javascript:void(0)" class="small-box-footer">More info <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Left Col -->
        <section class="col-lg-7 connectedSortable">
            <!-- Line Chart -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li class="pull-left header"><i class="fa fa-line-chart"></i> 报名人数走势 </li>
                </ul>
                <div class="tab-content no-padding">
                    <div class="chart tab-pane active" id="register-line-chart" style="position: relative; height: 300px;"></div>
                </div>
            </div>
            <!-- /.Line Chart -->
            <!-- Question box -->
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-comments-o"></i>

                    <h3 class="box-title">学生疑问</h3>
                </div>
                <div class="box-body chat" id="chat-box">
                    <div class="item">
                        <img src="~/images/template/user4-128x128.jpg" alt="user image" class="online">

                        <p class="message">
                            <a href="#" class="name">
                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2017-02-15 2:15</small>
                                Mike Doe
                            </a>
                            I would like to meet you to discuss the latest news about
                            the arrival of the new theme. They say it is going to be one the
                            best themes on the market
                        </p>
                    </div>
                    <div class="item">
                        <img src="~/images/template/user3-128x128.jpg" alt="user image" class="offline">

                        <p class="message">
                            <a href="#" class="name">
                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:15</small>
                                Alexander Pierce
                            </a>
                            I would like to meet you to discuss the latest news about
                            the arrival of the new theme. They say it is going to be one the
                            best themes on the market
                        </p>
                    </div>
                    <div class="item">
                        <img src="~/images/template/user2-160x160.jpg" alt="user image" class="offline">

                        <p class="message">
                            <a href="#" class="name">
                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:30</small>
                                Susan Doe
                            </a>
                            I would like to meet you to discuss the latest news about
                            the arrival of the new theme. They say it is going to be one the
                            best themes on the market
                        </p>
                    </div>
                    <div class="item">
                        <img src="~/images/template/user4-128x128.jpg" alt="user image" class="online">

                        <p class="message">
                            <a href="#" class="name">
                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2017-02-15 2:15</small>
                                Mike Doe
                            </a>
                            I would like to meet you to discuss the latest news about
                            the arrival of the new theme. They say it is going to be one the
                            best themes on the market
                        </p>
                    </div>
                </div>
                <!-- /.chat -->
                <div class="box-footer">
                    <button type="button" class="btn btn-default pull-right"><i class="fa fa-hand-o-right"></i> 查看更多 </button>
                </div>
            </div>
            <!-- /.Question Box -->
        </section>
        <!-- /.Left Col -->
        <!-- Right Col -->
        <section class="col-lg-5 connectedSortable">
            <!-- Bulletin Box -->
            <div class="box box-info">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">公告 & 政策</h3>

                    <div class="pull-right box-tools">
                        <button type="button" class="btn btn-default btn-sm pull-right" data-toggle="tooltip"
                                title="添加">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm pull-right" data-widget="collapse"
                                data-toggle="tooltip" title="折叠" style="margin-right: 5px;">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <ul class="todo-list">
                        <li>
                            <i class="fa fa-bullhorn" aria-hidden="true"></i>
                            <span class="text">
                                <a href="javascript:void(0)">这是一条公告信息~~~~</a>
                            </span>
                            <div class="tools">
                                <i class="fa fa-edit text-green">编辑</i>
                                <i class="fa fa-trash-o">删除</i>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-bullhorn" aria-hidden="true"></i>
                            <span class="text">
                                <a href="javascript:void(0)">这是一条公告信息~~~~</a>
                            </span>
                            <div class="tools">
                                <i class="fa fa-edit text-green">编辑</i>
                                <i class="fa fa-trash-o">删除</i>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-bullhorn" aria-hidden="true"></i>
                            <span class="text">
                                <a href="javascript:void(0)">这是一条公告信息~~~~</a>
                            </span>
                            <div class="tools">
                                <i class="fa fa-edit text-green">编辑</i>
                                <i class="fa fa-trash-o">删除</i>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-bullhorn" aria-hidden="true"></i>
                            <span class="text">
                                <a href="javascript:void(0)">这是一条公告信息~~~~</a>
                            </span>
                            <div class="tools">
                                <i class="fa fa-edit text-green">编辑</i>
                                <i class="fa fa-trash-o">删除</i>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-bullhorn" aria-hidden="true"></i>
                            <span class="text">
                                <a href="javascript:void(0)">这是一条公告信息~~~~</a>
                            </span>
                            <div class="tools">
                                <i class="fa fa-edit text-green">编辑</i>
                                <i class="fa fa-trash-o">删除</i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-footer clearfix">
                    <button type="button" class="btn btn-default pull-right"><i class="fa fa-hand-o-right"></i> 查看更多 </button>
                </div>
            </div>
            <!-- /.Bulletin Box -->
            <!-- Map box -->
            <div class="box box-solid">
                <div class="box-header">
                    <i class="fa fa-map-marker"></i>

                    <h3 class="box-title">
                        新生生源地分布
                    </h3>
                </div>
                <div class="box-body">
                    <div id="map-pie" style="height: 350px; width: 100%;"></div>
                </div>
            </div>
        </section>
        <!-- Right Col -->
    </div>
</section>


@section scripts{
    <environment include="Development">
        <script src="~/javascript/template/echarts.common.min.js"></script>
        <script src="~/javascript/template/macarons.js"></script>
        <script src="~/javascript/view/Administrator/index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/javascript/view/Administrator/index.min.js" asp-append-version="true"></script>
    </environment>
}