<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="region-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">编号</th>
                        <th class="text-center">地区名称</th>
                        <th class="text-center">父级地区名称</th>
                        <th class="text-center">地区级别</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>