<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="staff-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">工号</th>
                        <th class="text-center">姓名</th>
                        <th class="text-center">性别</th>
                        <th class="text-center">登录账户</th>
                        <th class="text-center">手机号</th>
                        <th class="text-center">所属部门</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>
