
@{
    ViewData["Title"] = "地区数据";
    ViewData["NavTitle"] = "基础信息管理";
    ViewData["CurrName"] = "地区数据维护";
}

<section class="content-header">
    <h1>
        地区数据
        <small>Region Data</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li>基础信息</li>
        <li>
            <a asp-area="Administrator" asp-controller="Basic" asp-action="Region">
                地区数据
            </a>
        </li>
        <li class="active">编辑</li>
    </ol>
</section>

