
@{
    ViewData["Title"] = "个人中心";
    ViewData["NavTitle"] = "基础信息管理";
    ViewData["CurrName"] = "个人账户信息";
}

<section class="content-header">
    <h1>
        个人信息
        <small>Personal Center</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li>基础信息</li>
        <li class="active">个人信息</li>
    </ol>
</section>

<section class="content">
    <!-- Main row -->
    <div class="row">
    </div>
    <!-- /.row (main row) -->
</section>

