
@{
    ViewData["Title"] = "学生账户";
    ViewData["NavTitle"] = "基础信息管理";
    ViewData["CurrName"] = "学生账户管理";
}

<section class="content-header">
    <h1>
        学生账户
        <small>Student Data</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li>基础信息</li>
        <li class="active">学生账户</li>
    </ol>
</section>

<section class="content">
    <!-- Main row -->
    <div class="row">
    </div>
    <!-- /.row (main row) -->
</section>

