<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="dormitory-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">学号</th>
                        <th class="text-center">学生姓名</th>
                        <th class="text-center">所属班级</th>
                        <th class="text-center">寝室号</th>
                        <th class="text-center">所在楼层</th>
                        <th class="text-center">寝室楼</th>
                        <th class="text-center">选择时间</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>
