<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="bulletin-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">学生学号</th>
                        <th class="text-center">学生姓名</th>
                        <th class="text-center">性别</th>
                        <th class="text-center">年龄</th>
                        <th class="text-center">生源地</th>
                        <th class="text-center">所属院系</th>
                        <th class="text-center">所属专业</th>
                        <th class="text-center">专业班级</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 15; i++)
                    {
                    <tr class="text-center">
                        @{
        int num = 20171011 + i;
                        }
                        <td>@num</td>
                        <td>张三</td>
                        <td>男</td>
                        <td>21</td>
                        <td>安徽省-芜湖市-弋江区</td>
                        <td>计算机与软件工程系</td>
                        <td>网络工程</td>
                        <td>网络1401</td>
                        <td>
                            <a asp-area="" asp-controller="" asp-action="" class="btn btn-xs btn-link">
                                <i class="fa fa-info"></i>
                                查看
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
