<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="information-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">学号</th>
                        <th class="text-center">姓名</th>
                        <th class="text-center">性别</th>
                        <th class="text-center">年龄</th>
                        <th class="text-center">生源地</th>
                        <th class="text-center">所属院系</th>
                        <th class="text-center">专业班级</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>
