<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="register-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">学号</th>
                        <th class="text-center">学生姓名</th>
                        <th class="text-center">所属院系</th>
                        <th class="text-center">所属班级</th>
                        <th class="text-center">来校方式</th>
                        <th class="text-center">预计到校时间</th>
                        <th class="text-center">到达地点</th>
                        <th class="text-center">备注</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>
