
@{
    ViewData["Title"] = "新生疑问";
    ViewData["NavTitle"] = "新生宿舍选择";
    ViewData["CurrName"] = "";
}

<section class="content-header">
    <h1>
        新生宿舍
        <small>Student's Dormitory</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Instructor" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li class="active">新生宿舍</li>
    </ol>
</section>

