/*!
 *   Login Page Style v1.0.0
 *   Author: Danvic712
 */
body {
    background: url(../../images/template/boxed-bg.jpg) repeat fixed;
}

.login-msg-box {
    margin-bottom: 25px;
}

.login-error-msg {
    margin-top: 3px;
    background-color: #FF7851 !important;
}

#loginform{
    margin-top:20px;
}