/*!
 *   User Layout Page Style v1.0.0
 *   Author: Danvic712
 */
body {
    overflow-y: scroll;
}

.card {
    background: #fff;
    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

    .card .card-inside-title {
        margin-top: 25px;
        margin-bottom: 15px;
        display: block;
        font-size: 15px;
        color: #000;
    }

        .card .card-inside-title small {
            color: #999;
            display: block;
            font-size: 11px;
            margin-top: 5px;
        }

            .card .card-inside-title small a {
                color: #777;
                font-weight: bold;
            }

        .card .card-inside-title:first-child {
            margin-top: 0;
        }

    .card .bg-red,
    .card .bg-pink,
    .card .bg-purple,
    .card .bg-deep-purple,
    .card .bg-indigo,
    .card .bg-blue,
    .card .bg-light-blue,
    .card .bg-cyan,
    .card .bg-teal,
    .card .bg-green,
    .card .bg-light-green,
    .card .bg-lime,
    .card .bg-yellow,
    .card .bg-amber,
    .card .bg-orange,
    .card .bg-deep-orange,
    .card .bg-brown,
    .card .bg-grey,
    .card .bg-blue-grey,
    .card .bg-black {
        border-bottom: none !important;
        color: #fff !important;
    }

        .card .bg-red h2, .card .bg-red small, .card .bg-red .material-icons,
        .card .bg-pink h2,
        .card .bg-pink small,
        .card .bg-pink .material-icons,
        .card .bg-purple h2,
        .card .bg-purple small,
        .card .bg-purple .material-icons,
        .card .bg-deep-purple h2,
        .card .bg-deep-purple small,
        .card .bg-deep-purple .material-icons,
        .card .bg-indigo h2,
        .card .bg-indigo small,
        .card .bg-indigo .material-icons,
        .card .bg-blue h2,
        .card .bg-blue small,
        .card .bg-blue .material-icons,
        .card .bg-light-blue h2,
        .card .bg-light-blue small,
        .card .bg-light-blue .material-icons,
        .card .bg-cyan h2,
        .card .bg-cyan small,
        .card .bg-cyan .material-icons,
        .card .bg-teal h2,
        .card .bg-teal small,
        .card .bg-teal .material-icons,
        .card .bg-green h2,
        .card .bg-green small,
        .card .bg-green .material-icons,
        .card .bg-light-green h2,
        .card .bg-light-green small,
        .card .bg-light-green .material-icons,
        .card .bg-lime h2,
        .card .bg-lime small,
        .card .bg-lime .material-icons,
        .card .bg-yellow h2,
        .card .bg-yellow small,
        .card .bg-yellow .material-icons,
        .card .bg-amber h2,
        .card .bg-amber small,
        .card .bg-amber .material-icons,
        .card .bg-orange h2,
        .card .bg-orange small,
        .card .bg-orange .material-icons,
        .card .bg-deep-orange h2,
        .card .bg-deep-orange small,
        .card .bg-deep-orange .material-icons,
        .card .bg-brown h2,
        .card .bg-brown small,
        .card .bg-brown .material-icons,
        .card .bg-grey h2,
        .card .bg-grey small,
        .card .bg-grey .material-icons,
        .card .bg-blue-grey h2,
        .card .bg-blue-grey small,
        .card .bg-blue-grey .material-icons,
        .card .bg-black h2,
        .card .bg-black small,
        .card .bg-black .material-icons {
            color: #fff !important;
        }

        .card .bg-red .badge,
        .card .bg-pink .badge,
        .card .bg-purple .badge,
        .card .bg-deep-purple .badge,
        .card .bg-indigo .badge,
        .card .bg-blue .badge,
        .card .bg-light-blue .badge,
        .card .bg-cyan .badge,
        .card .bg-teal .badge,
        .card .bg-green .badge,
        .card .bg-light-green .badge,
        .card .bg-lime .badge,
        .card .bg-yellow .badge,
        .card .bg-amber .badge,
        .card .bg-orange .badge,
        .card .bg-deep-orange .badge,
        .card .bg-brown .badge,
        .card .bg-grey .badge,
        .card .bg-blue-grey .badge,
        .card .bg-black .badge {
            background-color: #fff;
            color: #555;
        }

    .card .header {
        color: #555;
        padding: 20px;
        position: relative;
        border-bottom: 1px solid rgba(204, 204, 204, 0.35);
    }

        .card .header .header-dropdown {
            position: absolute;
            top: 20px;
            right: 15px;
            list-style: none;
        }

            .card .header .header-dropdown .dropdown-menu li {
                display: block !important;
            }

            .card .header .header-dropdown li {
                display: inline-block;
            }

            .card .header .header-dropdown i {
                font-size: 20px;
                color: #999;
                -moz-transition: all 0.5s;
                -o-transition: all 0.5s;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
            }

                .card .header .header-dropdown i:hover {
                    color: #000;
                }

        .card .header h2 {
            margin: 0;
            font-size: 18px;
            font-weight: normal;
            color: #111;
        }

            .card .header h2 small {
                display: block;
                font-size: 12px;
                margin-top: 5px;
                color: #999;
                line-height: 15px;
            }

                .card .header h2 small a {
                    font-weight: bold;
                    color: #777;
                }

        .card .header .col-xs-12 h2 {
            margin-top: 5px;
        }

    .card .body {
        font-size: 14px;
        color: #555;
        padding: 20px;
    }

        .card .body .col-xs-1,
        .card .body .col-sm-1,
        .card .body .col-md-1,
        .card .body .col-lg-1 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-2,
        .card .body .col-sm-2,
        .card .body .col-md-2,
        .card .body .col-lg-2 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-3,
        .card .body .col-sm-3,
        .card .body .col-md-3,
        .card .body .col-lg-3 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-4,
        .card .body .col-sm-4,
        .card .body .col-md-4,
        .card .body .col-lg-4 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-5,
        .card .body .col-sm-5,
        .card .body .col-md-5,
        .card .body .col-lg-5 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-6,
        .card .body .col-sm-6,
        .card .body .col-md-6,
        .card .body .col-lg-6 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-7,
        .card .body .col-sm-7,
        .card .body .col-md-7,
        .card .body .col-lg-7 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-8,
        .card .body .col-sm-8,
        .card .body .col-md-8,
        .card .body .col-lg-8 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-9,
        .card .body .col-sm-9,
        .card .body .col-md-9,
        .card .body .col-lg-9 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-10,
        .card .body .col-sm-10,
        .card .body .col-md-10,
        .card .body .col-lg-10 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-11,
        .card .body .col-sm-11,
        .card .body .col-md-11,
        .card .body .col-lg-11 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-12,
        .card .body .col-sm-12,
        .card .body .col-md-12,
        .card .body .col-lg-12 {
            margin-bottom: 20px;
        }

.required-label {
    vertical-align: middle;
    color: red
}

.info-box-4 {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

    .info-box-4 .icon {
        position: absolute;
        right: 10px;
        bottom: 2px;
        text-align: center;
    }

        .info-box-4 .icon i {
            color: rgba(0, 0, 0, 0.15);
            font-size: 60px;
        }

    .info-box-4 .chart {
        margin-right: 5px;
    }

        .info-box-4 .chart.chart-bar {
            height: 100%;
            line-height: 50px;
        }

            .info-box-4 .chart.chart-bar canvas {
                vertical-align: baseline !important;
            }

        .info-box-4 .chart.chart-pie {
            height: 100%;
            line-height: 34px;
        }

            .info-box-4 .chart.chart-pie canvas {
                vertical-align: baseline !important;
            }

        .info-box-4 .chart.chart-line {
            height: 100%;
            line-height: 40px;
        }

            .info-box-4 .chart.chart-line canvas {
                vertical-align: baseline !important;
            }

    .info-box-4 .content {
        display: inline-block;
        padding: 7px 16px;
    }

        .info-box-4 .content .text {
            font-size: 13px;
            margin-top: 11px;
            color: #555;
        }

        .info-box-4 .content .number {
            font-weight: normal;
            font-size: 26px;
            margin-top: -4px;
            color: #555;
        }

    .info-box-4.hover-zoom-effect .icon i {
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .info-box-4.hover-zoom-effect:hover .icon i {
        opacity: 0.4;
        -moz-transform: rotate(-32deg) scale(1.4);
        -ms-transform: rotate(-32deg) scale(1.4);
        -o-transform: rotate(-32deg) scale(1.4);
        -webkit-transform: rotate(-32deg) scale(1.4);
        transform: rotate(-32deg) scale(1.4);
    }

    .info-box-4.hover-expand-effect:after {
        background-color: rgba(0, 0, 0, 0.05);
        content: ".";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        color: transparent;
        -moz-transition: all 0.95s;
        -o-transition: all 0.95s;
        -webkit-transition: all 0.95s;
        transition: all 0.95s;
    }

    .info-box-4.hover-expand-effect:hover:after {
        width: 100%;
    }

.bg-white {
    background-color: white !important;
}

    .bg-white:hover {
        color: black;
    }

.btn-logout :hover {
    text-decoration: none;
}

.text-white {
    color: white !important;
}

.bg-light-green {
    background-color: #8BC34A !important;
    color: #fff;
}

    .bg-light-green .content .text,
    .bg-light-green .content .number {
        color: #fff !important;
    }

.text-grey {
    color: #555 !important;
}

.profile-user-info {
    display: table;
    width: 98%;
    width: calc(100% - 24px);
    margin: 0 auto
}

.profile-info-row {
    display: table-row
}

.profile-info-name, .profile-info-value {
    display: table-cell;
    border-top: 1px dotted #D5E4F1
}

.profile-info-name {
    text-align: right;
    padding: 6px 10px 6px 4px;
    font-weight: 400;
    color: #667E99;
    background-color: transparent;
    width: 110px;
    vertical-align: middle
}

.profile-info-value {
    padding: 6px 4px 6px 6px
}

    .profile-info-value > span + span:before {
        display: inline;
        content: ",";
        margin-left: 1px;
        margin-right: 3px;
        color: #666;
        border-bottom: 1px solid #FFF
    }

    .profile-info-value > span + span.editable-container:before {
        display: none
    }

.profile-info-row:first-child .profile-info-name, .profile-info-row:first-child .profile-info-value {
    border-top: none
}

.profile-user-info-striped {
    border: 1px solid #DCEBF7
}

    .profile-user-info-striped .profile-info-name {
        color: #336199;
        background-color: #EDF3F4;
        border-top: 1px solid #F7FBFF
    }

    .profile-user-info-striped .profile-info-value {
        border-top: 1px dotted #DCEBF7;
        padding-left: 12px
    }

.ace-alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f
}
