<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="question-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">编号</th>
                        <th class="text-center">学生姓名</th>
                        <th class="text-center">提问内容</th>
                        <th class="text-center">提问时间</th>
                        <th class="text-center">是否回复</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>
