
@{
    ViewData["Title"] = "新生疑问";
    ViewData["NavTitle"] = "新生疑问管理";
    ViewData["CurrName"] = "";
}

<section class="content-header">
    <h1>
        新生疑问
        <small>Student's Question</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Instructor" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li>
            <a asp-area="Administrator" asp-controller="Admission" asp-action="Question">
                <i class="fa fa-dashboard"></i> 新生疑问
            </a>
        </li>
        <li class="active">回复</li>
    </ol>
</section>

