<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>错误 - 稷下园</title>
    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/Ionicons/css/ionicons.css" rel="stylesheet" />
        <link href="~/css/template/AdminLTE.css" rel="stylesheet" />
        <link href="~/css/template/green.css" rel="stylesheet" />
        <link href="~/css/view/login.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">
        <link href="http://cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"
              asp-fallback-href="~/lib/Ionicons/css/ionicons.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="~/css/view/login.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body class="hold-transition" style="height:70%;margin:7% auto;text-align:center;">
    <div class="five-zero-zero-container">
        <div class="error-code" style="font-size: 120px;">
            <i class="fa fa-warning text-red" aria-hidden="true"></i>
            Error
        </div>
        <div class="error-message" style="font-size: 27px;">出错了，毕竟我们都有不顺利的时候~~~</div>
        <div class="button-place" style="margin-top:20px;">
            <a asp-area="@ViewBag.HomePage" asp-controller="Home" asp-action="Index" class="btn btn-default btn-lg waves-effect">返回主页</a>
        </div>
    </div>
</body>
</html>


