<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>隐私政策 - 稷下园</title>
    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/Ionicons/css/ionicons.css" rel="stylesheet" />
        <link href="~/css/template/AdminLTE.css" rel="stylesheet" />
        <link href="~/css/template/green.css" rel="stylesheet" />
        <link href="~/css/view/login.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">
        <link href="http://cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"
              asp-fallback-href="~/lib/Ionicons/css/ionicons.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="~/css/view/login.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body class="hold-transition" style="height:80%;">
    <div class="login-box">
        <div class="login-box-body">
            <div class="login-logo">
                <i class="fa fa-leaf text-green"></i>
                <b style="font-family:KaiTi">
                    稷下园
                    <sub style="font-family:Consolas">JiXia</sub>
                </b>
            </div>
            <p class="login-box-msg">欢迎使用 <a href="javascript:void(0)"><b>稷下园</b></a> 大学新生预报名系统，以下是我们的隐私政策</p>
            <p>
                Use this page to detail your site's privacy policy.
            </p>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/javascript/template/icheck.js"></script>
        <script src="~/javascript/template/jquery.cookie.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js">
        </script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js">
        </script>
        <script src="https://cdn.bootcss.com/iCheck/1.0.1/icheck.min.js"
                asp-fallback-src="~/javascript/template/icheck.min.js">
        </script>
        <script src="~/javascript/view/login.min.js" asp-append-version="true"></script>
    </environment>

</body>
</html>


