@model PSU.Model.Areas.Student.InformationViewModel
@{
    ViewData["Title"] = "入学报名";
    ViewData["NavTitle"] = "入学报名";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a id="chose_information" href="#information" class="text-grey" data-toggle="tab">
                                <i class="fa fa-home"></i> 报名信息
                            </a>
                        </li>
                        <li role="presentation">
                            <a id="chose_booking" href="#booking" class="text-grey" data-toggle="tab">
                                <i class="fa fa-podcast"></i> 预定服务
                            </a>
                        </li>
                        <li role="presentation">
                            <a id="chose_goods" href="#goods" class="text-grey" data-toggle="tab">
                                <i class="fa fa-cart-plus"></i> 物品选择
                            </a>
                        </li>
                        <li role="presentation">
                            <a id="chose_dormitory" href="#dormitory" class="text-grey" data-toggle="tab">
                                <i class="fa fa-bed"></i> 寝室选择
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="information">
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="booking">
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="goods">
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="dormitory">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <environment include="Development">
        <script src="~/javascript/view/Student/information.js" asp-append-version="true"></script>
        <script src="~/javascript/view/Student/register.js" asp-append-version="true"></script>
        <script src="~/javascript/view/Student/booking.js" asp-append-version="true"></script>
        <script src="~/javascript/view/Student/goods.js" asp-append-version="true"></script>
        <script src="~/javascript/view/Student/dormitory.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/javascript/view/Student/information.min.js" asp-append-version="true"></script>
        <script src="~/javascript/view/Student/register.min.js" asp-append-version="true"></script>
        <script src="~/javascript/view/Student/booking.min.js" asp-append-version="true"></script>
        <script src="~/javascript/view/Student/dormitory.min.js" asp-append-version="true"></script>
    </environment>
}