@model PSU.Model.Areas.Student.InformationViewModel
@{
    ViewData["Title"] = "入学报名";
    ViewData["NavTitle"] = "入学报名";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a id="chose_information" href="#information" class="text-grey" data-toggle="tab">
                                <i class="fa fa-home"></i> 报名信息
                            </a>
                        </li>
                        <li role="presentation">
                            <a id="chose_booking" href="#booking" class="text-grey" data-toggle="tab">
                                <i class="fa fa-podcast"></i> 预定服务
                            </a>
                        </li>
                        <li role="presentation">
                            <a id="chose_goods" href="#goods" class="text-grey" data-toggle="tab">
                                <i class="fa fa-cart-plus"></i> 物品选择
                            </a>
                        </li>
                        <li role="presentation">
                            <a id="chose_dormitory" href="#dormitory" class="text-grey" data-toggle="tab">
                                <i class="fa fa-bed"></i> 寝室选择
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="information">
                            <form class="form-horizontal" role="form" id="edit_form" style="margin-top:20px;">
                                <div class="box box-success">
                                    <div class="box-body">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="name">
                                                学生姓名
                                            </label>
                                            <div class="col-md-2 col-xs-9">
                                                <input class="form-control" id="name" type="text" asp-for="Name" readonly>
                                            </div>
                                            <label class="col-md-1 col-xs-3 control-label no-padding-right" for="sid">
                                                学生学号
                                            </label>
                                            <div class="col-md-2 col-xs-9">
                                                <input class="form-control" id="sid" type="text" asp-for="SId" readonly>
                                            </div>
                                            <label class="col-md-1 col-xs-3 control-label no-padding-right" for="department">
                                                所属院系
                                            </label>
                                            <div class="col-md-2 col-xs-9">
                                                <input class="form-control" id="department" type="text" asp-for="Department" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="majorclass">
                                                专业班级
                                            </label>
                                            <div class="col-md-2 col-xs-9">
                                                <input class="form-control" id="majorclass" type="text" asp-for="MajorClass" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="way">
                                                <span class="required-label">*</span> 来校方式
                                            </label>
                                            <div class="col-md-2 col-xs-9">
                                                <select id="way" class="form-control" asp-for="Way">
                                                    <option value="-1">请选择</option>
                                                    <option value="1">火车</option>
                                                    <option value="2">客车</option>
                                                    <option value="3">飞机</option>
                                                    <option value="4">自驾</option>
                                                    <option value="5">客船</option>
                                                    <option value="6">其它</option>
                                                </select>
                                            </div>
                                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="place">
                                                <span class="required-label">*</span> 到达地点
                                            </label>
                                            <div class="col-md-3 col-xs-9">
                                                <input class="form-control" id="place" maxlength="30" type="text" asp-for="Place">
                                            </div>
                                        </div>
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="arrivetime">
                                                <span class="required-label">*</span> 预计到达日期
                                            </label>
                                            <div class="col-md-2 col-xs-9">
                                                <div class="input-group">
                                                    <input id="arrivetime" type="text" class="form-control date-picker" asp-for="ArriveTime" readonly>
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="express">
                                                <span class="required-label">*</span> 档案是否快递
                                            </label>
                                            <div class="col-md-2 col-xs-9">
                                                <select id="express" class="form-control" asp-for="IsExpress">
                                                    <option value="-1">请选择</option>
                                                    <option value="true">是</option>
                                                    <option value="false">否</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <input class="form-control" id="expressid" maxlength="30" placeholder="请填写快递单号" type="text" asp-for="ExpressId">
                                            </div>
                                        </div>
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="remark">
                                                备注
                                            </label>
                                            <div class="col-md-8 col-xs-9">
                                                <textarea class="form-control" id="remark" max="200" rows="3" style="resize:none" asp-for="Remark"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <div class="text-right">
                                            @if (string.IsNullOrEmpty(Model.Id))
                                            {
                                                <a class="btn btn-success col-md-offset-2" id="save" data-id="@Model.Id">
                                                    <i class="fa fa-check"></i>
                                                    保存
                                                </a>
                                            }
                                            &nbsp;&nbsp;
                                            <a class="btn bg-purple" id="next" href="#booking" data-toggle="tab">
                                                <i class="fa fa-hand-o-right"></i>
                                                下一步
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="booking">
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="goods">
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="dormitory">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <environment include="Development">
        <script src="~/javascript/view/Student/information.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/javascript/view/Student/information.min.js" asp-append-version="true"></script>
    </environment>
}