<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="service-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">编号</th>
                        <th class="text-center">服务名称</th>
                        <th class="text-center">服务地点</th>
                        <th class="text-center">开始时间</th>
                        <th class="text-center">结束时间</th>
                        <th class="text-center">服务描述</th>
                        <th class="text-center">是否启用</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>
