
@{
    ViewData["Title"] = "物品信息";
    ViewData["NavTitle"] = "入学信息管理";
    ViewData["CurrName"] = "物品信息维护";
}

<section class="content-header">
    <h1>
        物品信息
        <small>Bedding Information</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li class="active">
            <a asp-area="Administrator" asp-controller="Admission" asp-action="Goods">
                入学信息
            </a>
        </li>
        <li class="active">编辑</li>
    </ol>
</section>

