
@{
    ViewData["Title"] = "物品信息";
    ViewData["NavTitle"] = "入学信息管理";
    ViewData["CurrName"] = "物品信息维护";
}

<section class="content-header">
    <h1>
        物品信息
        <small>Bedding Information</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li>入学信息</li>
        <li class="active">物品信息</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-3">
                <label class="control-label no-padding-right col-md-5 col-xs-4" for="name">物品名称：</label>
                <div class="input-group col-md-7 col-xs-8">
                    <input id="name" type="text" class="form-control">
                    <div class="input-group-addon">
                        <i class="fa fa-bookmark"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label no-padding-right col-md-5 col-xs-4" for="id">物品编号：</label>
                <div class="input-group col-md-7 col-xs-8">
                    <input id="id" type="text" class="form-control">
                    <div class="input-group-addon">
                        <i class="fa fa-info"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label no-padding-right col-md-5 col-xs-4" for="enable">是否启用：</label>
                <div class="input-group col-md-7 col-xs-8">
                    <select id="enable" name="" class="form-control">
                        <option value="-1">请选择</option>
                        <option value="1">启用</option>
                        <option value="0">未启用</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-3">
                <button id="search" class="btn btn-dropbox btn-flat col-md-4">
                    <i class="fa fa-search"></i>&nbsp;搜索
                </button>
                <a id="add" class="btn btn-success btn-flat col-md-4 col-xs-offset-1 col-md-offset-1">
                    <i class="fa fa-plus"></i>&nbsp;新建
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        @await Html.PartialAsync("_GoodsTablePartial")
    </div>
</section>

@section scripts{
<environment include="Development">
    <script src="~/javascript/view/Administrator/goods.js" asp-append-version="true"></script>
    <script src="~/javascript/template/ajaxupload.js"></script>
    <script src="~/javascript/view/Administrator/editgoods.js" asp-append-version="true"></script>
</environment>
    <environment exclude="Development">
        <script src="~/javascript/view/Administrator/goods.min.js" asp-append-version="true"></script>
        <script src="~/javascript/view/Administrator/editgoods.min.js" asp-append-version="true"></script>
    </environment>
}

