
@{
    ViewData["Title"] = "学生疑问";
    ViewData["NavTitle"] = "入学信息管理";
    ViewData["CurrName"] = "学生疑问管理";
}

<section class="content-header">
    <h1>
        学生疑问
        <small>Student Question</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li>入学信息</li>
        <li class="active">学生疑问</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-3">
                <label class="control-label col-md-5 col-xs-4" for="askfor">提问对象：</label>
                <div class="input-group col-md-7 col-xs-8">
                    <input id="askfor" type="text" class="form-control">
                    <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label col-md-5 col-xs-4" for="datetime">提问日期：</label>
                <div class="input-group col-md-7 col-xs-8">
                    <input id="datetime" class="form-control date-picker" type="text" readonly />
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label col-md-5 col-xs-4" for="reply">问题状态：</label>
                <div class="input-group col-md-7 col-xs-8">
                    <select id="reply" name="" class="form-control">
                        <option value="-1">请选择</option>
                        <option value="1">已回复</option>
                        <option value="0">未回复</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-3">
                <button id="search" class="btn btn-dropbox btn-flat col-md-4">
                    <i class="fa fa-search"></i>&nbsp;搜索
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        @await Html.PartialAsync("_QuestionTablePartial")
    </div>
</section>

@section scripts{
    <environment include="Development">
        <script src="~/javascript/view/Administrator/question.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/javascript/view/Administrator/question.min.js" asp-append-version="true"></script>
    </environment>
}

