
@{
    ViewData["Title"] = "迎新服务";
    ViewData["NavTitle"] = "入学信息管理";
    ViewData["CurrName"] = "迎新服务维护";
}

@section styles{
    <environment include="Development">
        <link href="~/css/template/bootstrap-datetimepicker.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/template/simditor.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/template/bootstrap-datetimepicker.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/template/simditor.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
}


<section class="content-header">
    <h1>
        迎新服务
        <small>Admission Service</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li>入学信息</li>
        <li class="active">迎新服务</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-3">
                <label class="control-label no-padding-right col-md-5 col-xs-4" for="name">服务名称：</label>
                <div class="input-group col-md-7 col-xs-8">
                    <input id="name" type="text" class="form-control">
                    <div class="input-group-addon">
                        <i class="fa fa-bookmark"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label no-padding-right col-md-5 col-xs-4" for="address">服务地点：</label>
                <div class="input-group col-md-7 col-xs-8">
                    <input id="address" type="text" class="form-control">
                    <div class="input-group-addon">
                        <i class="fa fa-university"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label no-padding-right col-md-5 col-xs-4" for="datetime">服务时间：</label>
                <div class="input-group col-md-7 col-xs-8">
                    <input id="datetime" class="form-control date-picker" type="text" readonly />
                    <span class="input-group-addon">
                        <i class="fa fa-calendar bigger-110"></i>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3">
                <button id="search" class="btn btn-dropbox btn-flat col-md-4">
                    <i class="fa fa-search"></i>&nbsp;搜索
                </button>
                <a asp-area="Administrator" asp-controller="Admission" asp-action="EditService" class="btn btn-success btn-flat col-md-4 col-xs-offset-1 col-md-offset-1">
                    <i class="fa fa-plus"></i>&nbsp;新建
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        @await Html.PartialAsync("_ServiceTablePartial")
    </div>
</section>

@section scripts{
    <environment include="Development">
        <script src="~/javascript/template/bootstrap-datetimepicker.js"></script>
        <script src="~/javascript/template/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="~/javascript/view/Administrator/service.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/javascript/template/datetimepicker.min.js"></script>
        <script src="~/javascript/view/Administrator/service.min.js" asp-append-version="true"></script>
    </environment>
}