
@{
    ViewData["Title"] = "迎新服务";
    ViewData["NavTitle"] = "入学信息管理";
    ViewData["CurrName"] = "迎新服务维护";
}

<section class="content-header">
    <h1>
        迎新服务
        <small>Admission Service</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li>入学信息</li>
        <li class="active">迎新服务</li>
    </ol>
</section>

<section class="content">
    <!-- Main row -->
    <div class="row">
    </div>
    <!-- /.row (main row) -->
</section>

