<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="department-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">编号</th>
                        <th class="text-center">院系名称</th>
                        <th class="text-center">联系电话</th>
                        <th class="text-center">电子邮箱</th>
                        <th class="text-center">微信公众号</th>
                        <th class="text-center">是否为部门</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>