<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="bulletin-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">编号</th>
                        <th class="text-center">专业名称</th>
                        <th class="text-center">专业代码</th>
                        <th class="text-center">所属系部名称</th>
                        <th class="text-center">是否启用</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 15; i++)
                    {
                        <tr class="text-center">
                            @{
                                int num = 20171011 + i;
                            }
                            <td>@num</td>
                            <td>网络工程</td>
                            <td>CS0001</td>
                            <td>计算机与软件工程系</td>
                            <td>启用</td>
                            <td>
                                <a class="btn btn-xs btn-link" id="detail">
                                    <i class="fa fa-info"></i>
                                    查看
                                </a>
                                <a asp-area="" asp-controller="" asp-action="" class="btn btn-xs btn-link">
                                    <i class="fa fa-pencil"></i>
                                    编辑
                                </a>
                                <a class="btn btn-xs btn-link" id="delete">
                                    <i class="fa fa-trash-o"></i>
                                    删除
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
