

@{
    ViewData["Title"] = "专业班级";
    ViewData["NavTitle"] = "学校信息管理";
    ViewData["CurrName"] = "专业班级维护";
}

<section class="content-header">
    <h1>
        专业班级
        <small>Major Class</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li>学校信息</li>
        <li class="active">
            <a asp-area="Administrator" asp-controller="School" asp-action="Major">
                专业班级
            </a>
        </li>
        <li class="active">编辑</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <section class="col-lg-8 connectedSortable">
            <div class="alert alert-default alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check text-green"></i> 温馨提示</h4>
                当你选择不同的专业以及选择不同的班级辅导员时，页面右侧的信息会自动更新哦~~~
                （#￣▽￣#）
            </div>
            <form asp-area="Administrator" asp-controller="School" asp-action="EditMajorClass" method="post" class="form-horizontal" role="form">
                <div class="box">
                    <div class="box box-body">
                        <div class="form-group">
                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="name"> 班级名称： </label>
                            <div class="col-md-5 col-xs-9">
                                <input class="col-md-5 col-xs-12 form-control" id="name" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label no-padding-right" for="form-field-facebook"> 班级微信： </label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" id="form-field-facebook" class="form-control" />
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-weixin text-green"></i>
                                    </span>
                                </div>
                            </div>
                            <label class="col-md-2 control-label no-padding-right" for="form-field-phone">班级QQ：</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="email" id="form-field-email" class="form-control" />
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-qq fa-flip-horizontal text-light-blue"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="major"> 所属专业： </label>
                            <div class="col-md-4 col-xs-9">
                                <select id="major" class="form-control">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                            <label class="col-md-2 control-label no-padding-right" for="department">专业代码：</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" id="department" class="form-control" readonly />
                                    <span class="input-group-addon">
                                        <i class="fa fa-code fa-flip-horizontal"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label no-padding-right" for="department">所属院系：</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" id="department" class="form-control" readonly />
                                    <span class="input-group-addon">
                                        <i class="fa fa-graduation-cap fa-flip-horizontal"></i>
                                    </span>
                                </div>
                            </div>
                            <label class="col-md-2 control-label no-padding-right" for="address">所在校区：</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" id="address" class="form-control" readonly />
                                    <span class="input-group-addon">
                                        <i class="fa fa-home fa-flip-horizontal"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="major"> 班级辅导员： </label>
                            <div class="col-md-4 col-xs-9">
                                <select id="major" class="form-control">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                            <label class="col-md-2 control-label no-padding-right" for="number">辅导员工号：</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" id="number" class="form-control" readonly />
                                    <span class="input-group-addon">
                                        <i class="fa fa-id-card fa-flip-horizontal"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="session"> 班级级数： </label>
                            <div class="col-md-4 col-xs-9">
                                <select id="session" class="form-control">
                                    <option value="">@DateTime.Now.Year 级</option>
                                </select>
                            </div>
                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="state"> 是否启用： </label>
                            <div class="col-md-4 col-xs-9">
                                <select id="state" class="form-control">
                                    <option value="">启用</option>
                                    <option value="">不启用</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="box-footer">
                        <div class="text-right">
                            <button class="btn btn-success col-md-offset-2" type="submit">
                                <i class="ace-icon fa fa-check"></i>
                                保存
                            </button>
                            &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo"></i>
                                重置
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section class="col-md-4 connectedSortable">
            <div class="box box-default">
                <div class="box-body box-profile">

                    <p class="text-muted text-center">网络工程</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>专业代码</b> <a class="pull-right">CS0001</a>
                        </li>
                        <li class="list-group-item">
                            <b>学制</b> <a class="pull-right">四年</a>
                        </li>
                        <li class="list-group-item">
                            <b>培养方向</b> <a class="pull-right">全日制本科</a>
                        </li>
                        <li class="list-group-item">
                            <b>所在校区</b> <a class="pull-right">我是新校区名称</a>
                        </li>
                        <li class="list-group-item">
                            <b>所属系部</b> <a class="pull-right">计算机与软件工程系</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="box box-default">
                <div class="box-body box-profile">
                    <img src="~/images/template/user1-128x128.jpg" class="profile-user-img img-responsive img-circle" alt="辅导员图片" />

                    <h3 class="profile-username text-center">我是辅导员啊</h3>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>工号</b> <a class="pull-right">201712270911</a>
                        </li>
                        <li class="list-group-item">
                            <b>所属系部</b> <a class="pull-right">计算机与软件工程系</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>

@section scripts{
    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>
}
