@model PSU.Model.Areas.Administrator.School.MajorClassEditViewModel
@using PSU.Model.Areas
@{
    ViewData["Title"] = "专业班级";
    ViewData["NavTitle"] = "学校信息管理";
    ViewData["CurrName"] = "专业班级维护";
}

<section class="content-header">
    <h1>
        专业班级
        <small>Major Class</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li>学校信息</li>
        <li class="active">
            <a asp-area="Administrator" asp-controller="School" asp-action="Major">
                专业班级
            </a>
        </li>
        <li class="active">编辑</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form method="post" class="form-horizontal" role="form">
                <div class="box">
                    <div class="box box-body">
                        <div class="form-group">
                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="name"> 班级名称： </label>
                            <div class="col-md-4 col-xs-9">
                                <input class="col-md-5 col-xs-12 form-control" id="name" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label no-padding-right" for="form-field-facebook"> 班级微信： </label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" id="form-field-facebook" class="form-control" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-weixin text-green"></i>
                                    </span>
                                </div>
                            </div>
                            <label class="col-md-2 control-label no-padding-right" for="form-field-phone">班级QQ：</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="email" id="form-field-email" class="form-control" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-qq fa-flip-horizontal text-light-blue"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="major"> 所属专业： </label>
                            <div class="col-md-4 col-xs-9">
                                <div class="input-group">
                                    <input type="email" id="form-field-email" class="form-control" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-graduation-cap fa-flip-horizontal"></i>
                                    </span>
                                </div>
                            </div>
                            <label class="col-md-2 control-label no-padding-right" for="department">专业代码：</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" id="department" class="form-control" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-code fa-flip-horizontal"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label no-padding-right" for="department">所属院系：</label>
                            <div class="col-md-4">
                                <select id="department" class="form-control">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                            <label class="col-md-2 control-label no-padding-right" for="number">院系编号：</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" id="number" class="form-control" readonly />
                                    <span class="input-group-addon">
                                        <i class="fa fa-id-card-o fa-flip-horizontal"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="major"> 班级辅导员： </label>
                            <div class="col-md-4 col-xs-9">
                                <select id="major" class="form-control">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                            <label class="col-md-2 control-label no-padding-right" for="number">辅导员工号：</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" id="number" class="form-control" readonly />
                                    <span class="input-group-addon">
                                        <i class="fa fa-id-card fa-flip-horizontal"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="session"> 班级级数： </label>
                            <div class="col-md-4 col-xs-9">
                                <select id="session" class="form-control">
                                    <option value="">@DateTime.Now.Year 级</option>
                                </select>
                            </div>
                            <label class="col-md-2 control-label no-padding-right" for="enable"> 是否启用 </label>
                            <div class="col-md-4">
                                <select id="enable" asp-items="@Html.GetEnumSelectList(typeof(EnumType.Enable))" class="form-control" asp-for="IsEnabled"></select>
                            </div>
                        </div>

                    </div>
                    <div class="box-footer">
                        <div class="text-right">
                            <button id="submit" class="btn btn-success col-md-offset-2" data-id="@Model.Id">
                                <i class="ace-icon fa fa-check"></i>
                                保存
                            </button>
                            &nbsp; &nbsp;
                            <a class="btn btn-default" asp-area="Administrator" asp-controller="School" asp-action="MajorClass">
                                <i class="fa fa-undo"></i>
                                返回
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section scripts{
    <environment include="Development">
        <script src="~/javascript/view/Administrator/editmajorclass.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/javascript/view/Administrator/editmajorclass.min.js" asp-append-version="true"></script>
    </environment>
}
