
@{
    ViewData["Title"] = "专业班级";
    ViewData["NavTitle"] = "学校信息管理";
    ViewData["CurrName"] = "专业班级维护";
}

<section class="content-header">
    <h1>
        专业班级
        <small>Major Class</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li>学校信息</li>
        <li class="active">专业班级</li>
    </ol>
</section>

<section class="content">
    <!-- Main row -->
    <div class="row">
    </div>
    <!-- /.row (main row) -->
</section>

