@model PSU.Model.Areas.Administrator.School.MajorClassViewModel
@{
    ViewData["Title"] = "专业班级";
    ViewData["NavTitle"] = "学校信息管理";
    ViewData["CurrName"] = "专业班级维护";
}

<section class="content-header">
    <h1>
        专业班级
        <small>Major Class</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li>学校信息</li>
        <li class="active">专业班级</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-3">
                <label class="control-label no-padding-right col-md-5 col-xs-4" for="className">班级名称：</label>
                <div class="input-group col-md-7 col-xs-8">
                    <input id="className" type="text" class="form-control">
                    <div class="input-group-addon">
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label no-padding-right col-md-5 col-xs-4" for="majorName">专业名称：</label>
                <div class="input-group col-md-7 col-xs-8">
                    <input id="majorName" type="text" class="form-control">
                    <div class="input-group-addon">
                        <i class="fa fa-id-badge"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label no-padding-right col-md-5 col-xs-4" for="instructorName">导员姓名：</label>
                <div class="input-group col-md-7 col-xs-8">
                    <input id="instructorName" type="text" class="form-control">
                    <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <button id="search" class="btn btn-dropbox btn-flat col-md-4">
                    <i class="fa fa-search"></i>&nbsp;搜索
                </button>
                <a asp-area="Administrator" asp-controller="School" asp-action="EditMajorClass" class="btn btn-success btn-flat col-md-4 col-xs-offset-1 col-md-offset-1">
                    <i class="fa fa-plus"></i>&nbsp;新建
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        @await Html.PartialAsync("_MajorClassTablePartial")
    </div>
</section>

@section scripts{
    <environment include="Development">
        <script src="~/javascript/view/Administrator/majorclass.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/javascript/view/Administrator/majorclass.min.js" asp-append-version="true"></script>
    </environment>
}