<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="classes-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">班级编号</th>
                        <th class="text-center">班级名称</th>
                        <th class="text-center">专业名称</th>
                        <th class="text-center">所属院系</th>
                        <th class="text-center">班级QQ</th>
                        <th class="text-center">班级微信</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>
