
@{
    ViewData["Title"] = "个人中心";
    ViewData["NavTitle"] = "个人账户管理";
    ViewData["CurrName"] = "";
}

<section class="content-header">
    <h1>
        个人中心
        <small>Personal Center</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Instructor" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li class="active">个人中心</li>
    </ol>
</section>

