
@{
    ViewData["Title"] = "首页";
}

<section class="content-header">
    <h1>
        Top Navigation
        <small>Example 2.0</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> 首页</a></li>
        <li class="active">我的大学</li>
    </ol>
</section>

<section class="content">
    <div class="alert alert-default alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check text-green"></i> 你好啊，新同学</h4>
        
        （#￣▽￣#）
    </div>
</section>
